.button-submit,
.button-submit:disabled,
.button-submit:active,
.button-submit:focus {
    width: 100%;
    background-color: darkorchid;
    border-color: darkorchid;
}

.button-submit:hover {
    background-color: darkviolet;
    border-color: darkviolet;
}

.gray-out {
    background-color : lightgray;
}