<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px; margin-left:20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="margin-bottom:35px">
                        <h1 class="panel-title">Login Successful</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>